.QmainWindow#Main{
    border-style: inset;
    border-radius: 5px;
    /* background:transparent; */
}

.QLabel#programm_name {
    font-size: 14pt;
    font-family: "Comfortaa";
    font-weight: bold;
    /*font-style: italic;*/
    color: #6c002f;
}

#left_panel_1{
/*    background: #cc66ff;*/
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:1, stop:0.0 rgba(200, 102, 255, 255), stop:0.8 rgba(200, 102, 255, 255));
    border-bottom: 1px;
    border-style: inset;
    border-color: #000099;
}

#left_panel_2 {
    border-right: 1px;
    border-style: inset;
    border-color: #000099;
}

#fr_top {
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.1 rgba(252, 200, 0, 255), stop:0.8 rgba(186, 124, 0, 255));
}

#statusBar {
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0.1 rgba(186, 124, 0, 255), stop:0.8 rgba(252, 200, 0, 255));
}

#bodyWidget {
    border-top: 1px;
    border-bottom: 1px;
    border-style: inset;
    border-color: #000099;
}

/*
#bodyWidget {
    background: url("./img/different1.png")  repeat;
    opacity: 0,2;
}
*/

#fr_sing_in #btn_login, #btn_setting {
    font-size: 16px;
    font: normal;
    text-align: left;
}

#btn_login QPushButton:hover, #btn_setting QPushButton:hover {
    padding-left: 3px;
}

#fr_top QPushButton {
    border: 0px;
    border-style: inset;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}

#fr_top QPushButton:hover {
    border: 1px;
    border-style: inset;
    border-color: #000;
    background-color: #66ffff;
    color:  #000099;
}

#fr_top QPushButton:pressed {
    border: 1px;
    border-style: inset;
    border-color: #000;
    color: #66ffff;

}
#fr_top QPushButton:checked {
    border: 1px;
    border-style: inset;
    border-color: #000;
    color: #000099;
    background-color: #66ffff;
}

